body{
    color: blue;
    text-align: center;
    font-family: "arial";
    font-size: 15px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background-color: teal;
    font-size: 39px;
    color: white;
    margin: 1 auto;
    border: 3 px solid #000;
    font-style: oblique;

}
#conten
{
    font-size: 20px;
    font-style: italic;
}
#container
{
    width: 60%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}


#container h1
{
font-size: 20px;
}